<div id="container">
    <div id="form">
        <form [formGroup]="form">
            <label for="drink">Nome:</label>
            <input class="form-control" name="drink" type="text" placeholder="" aria-label="default input example"
                formControlName="name" autocomplete="off">
    
            <label for="price">Preço:</label>
            <input class="form-control" name="price" type="text" placeholder="" aria-label="default input example"
                formControlName="price" autocomplete="off">
        </form>
        <button (click)="onSave()">Salvar</button>
        <button (click)="onCancel()">Cancelar</button>
    </div>
</div>