#container{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 65vh;
    
}


#form{
    width: 50%;
    border: 2px solid #dec129;
    padding: 10px;

    background-color: black;
    color: #dec129
}

form{
    
}

label{
    font-weight: bold;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}

input:focus{
    background-color: black;
    color: white;
    font-weight: bold;
}

button{
    font-weight: bold; 
    background-color: #dec129;  
    margin-right: 10px; 
}

